<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Hotel Page</title>
<link rel="stylesheet" href="../navbar.css">

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 20px auto;
        max-width: 600px;
        padding: 0 20px;
    }
    .card {
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>
</head>
<body>

    <%- include('../components/navbar') %>


<div class="container">
    <div class="card">
        <form action="/admin/hotel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p for="hotelName" style="color: red;"><%- message %></p>
            </div>
            <div class="form-group">
                <label for="hotelName">hotelName:</label>
                <input type="text" id="hotelName" name="hotelName" required>
            </div>
            <div class="form-group">
                <label for="hotelPrice">hotelPrice:</label>
                <input type="text" id="hotelPrice" name="hotelPrice" required>
            </div>
            <div class="form-group">
                <label for="hotelAddress">hotelAddress:</label>
                <input type="text" id="hotelAddress" name="hotelAddress" required>
            </div>
  
            <div class="form-group">
                <label for="Image">Image:</label>
                <input type="file" id="Image" name="images" required multiple>
            </div>
            <div class="form-group">
                <label for="hotelDescription">HoteDescription:</label>
                <textarea name="hotelDescription" id="hotelDescription" cols="70" rows="7"></textarea>
            </div>
            <input type="submit" value="Add Hotel"><br><br>

        </form>
    </div>
</div>

<%- include('../components/footer') %>


</body>
</html>
